.events {
    background-color: $bg-yellow;
    padding: 75px 0;
}
.title-row {
    @extend %flex;
    align-items: center;
}
.events-list {
    padding: 30px 0;
    @include grid(3);
    &__link {
        display: inline-block;
        width: 100%;
        height: auto;
        background: #000;
    }
    &__img {
        display: block;
        width: 100%;
        &:hover {
            @extend %animation-darken;
         }
    }
    &__date {
        font-size: 14px;
        line-height: 19px;
        color: #2E373B;
    }
    &__title {
        @include title($bg-red, 21px, 500);
    }
    &__descr {
        @include text(black);
    }
}
