.footer {
    background-color: $bg-azure;
    padding: 60px 0;
    &__wrapper {
        @extend %flex;
    }
}
.contact-us {
    width: 30%;
    @extend %flex;
    flex-direction: column;
    justify-content: flex-start;
}
.apps {
    @extend %flex;
    flex-direction: column;
    height: 40%;
    &__app{
        width: 160px;
        height: 53px;
        display: inline-block;
        &--apple {
            background: url(../design/GroupAppStore1.png) center no-repeat;
        }
        &--android {
            background: url(../design/FrameGooglePlay.png) center no-repeat;
        }
    }
}
.media {
    height: 50%;
    &__row {
        @extend %flex;
    }
    &__link {
        display: inline-block;
        width: 50px;
        height: 50px;
        transition: 0.4s;
        &--yt {
            background: url(../design/Vectoryt.png) center no-repeat;
        }
        &--vk {
            background: url(../design/Groupvk.png) center no-repeat;
        }
        &--fb {
            background: url(../design/Vectorfb.png) center no-repeat;
        }
        &--inst {
            background: url(../design/instagram.png) center no-repeat;
        }
        &:hover {
            @extend %increase-scale;
        }
    }
}
.sub {
    cursor: pointer;
    &__descr {
        @extend %footer-text;
    }
    &__form {
        display: inline-block;
        padding-right: 40px;
        background-color: $bg-red;
        background-image: url(../design/Vector.png);
        background-position-x: 95%;
        background-position-y: 50%;
        background-repeat: no-repeat;
    }
}
.user-email {
    padding: 13px 20px;
    outline: none;
    border: none;
    &::placeholder {
        font-size: 12px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #9C9C9C;
    }
    
}