.container--header {
    width: 90%;
}
.header {
    border: 1px solid #FFFFFF;
    padding: 33px 0;
    &__row {
        @extend %flex;
        align-items: center;
    }
    &__group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 20%;
    }
}
.logo {
    display: inline-block;
    width: 176px;
    height: 30px;
    background: url(../design/logo.png) center no-repeat;
    @include animation-underline();
}
.header-menu {
    width: 50%;
    @extend %flex;
    &__item {
        @include text(white);
    }
}
.search {
    background: url(../design/Search.png) right center no-repeat;
    position: relative;
    overflow: hidden;
    height: 30px;
    margin: 0 20px;
    display: flex;
    align-items: flex-end;
    @include animation-underline();
    &__input {
        outline: none;
        background: transparent;
        border: none;
        color: white;
        width: 100%;
    }
    &:hover::after,
    &:focus-within::after {
        left: 0;
    }
}

.bars {
    display: none;
    background: url(../design/bars.png) center no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}