@media screen and (max-width: 1300px) {
    .header {
        &__group  {
            flex-direction: column;
            align-items: flex-end;
        }
    }
    .promo__wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
    .more__wrapper {
        flex-direction: column;
    }
    .advertisement {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-template-rows: auto;
    }
    .news {
        width: 100%;
        &__item {
            padding: 10px 0;
        }
    }
    .title-row {
        padding: 30px 0;
    }
    .footer__wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
    .contact-us {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }
    .navigation-menus {
        grid-template-columns: repeat(2, 1fr);
    }
    .apps {
        height: 50%;
    }
}
@media screen and (max-width: 1024px) {
    .container {
        width: 90%;
    }
    .header-menu {
        width: 50%;
    }
    .header__group {
        flex-direction: column;
        align-items: flex-end;
    }
    .promo-articles {
        justify-content: center;
    }
    .navigation-menus {
        grid-template-columns: repeat(2, minmax(100px, max-content));
        justify-content: space-between;
    }
    .footer__wrapper {
        display: block;
    }
    .contact-us {
        flex-direction: column;
        align-items: center;
    }
    .sub {
        text-align: center;
    }
    .media {
        text-align: center;
    }
}
@media screen and (max-width: 768px) {
    .header {
        &__row {
            flex-direction: column;
            align-items: center;
        }
        &__group {
            display: none;
        }
    }
    .header-menu {
        width: 100%;
        padding: 20px 0;
    }
    .promo {
        &__wrapper {
            justify-content: center;
        }
        &__text {
            text-align: center;
            align-items: center;
        }
    }
    .promo-articles {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    .events-list {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        &__link {
            &:hover {
                transform: none;
            }
        }
    }
    .advertisement {
        &__item {
            &:hover {
                transform: none;
            }
        }
    }
    .news {
        &__link {
            &:hover {
                transform: none;
            }
        }
    }
}
@media screen and (max-width: 480px) {
    .header {
        &__row {
            flex-direction: row;
            justify-content: space-between;
        }
    }
    .header-menu {
        display: none;
    }
    .bars {
        display: block;
    }
    .promo {
        &__title {
            font-size: 44px;
        }
    }
    .promo-articles {
        width: 70%;
        &__article {
            padding: 15px;
        }
    }
    .title-row {
        flex-direction: column;
        text-align: center;
    }
    .page-title {
        @include animation-underline();
    }
    .navigation-menus {
        grid-template-columns: 1fr;
        &__column {
            align-items: center;
        }
    }
    .menu {
        display: none;
    }
    .news {
        &__link {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__text {
            text-align: center;
        }
    }
}