.more {
    background-color: $bg-beige;
    padding: 75px 0;
    &__wrapper {
        @extend %flex;
    }
}
.advertisement {
    @include grid(1);
    grid-gap: 80px;
    &__item {
        transition: 0.5s;
        &:hover {
            @extend %increase-scale;
        }
    }
    &__img {
        display: block;
        width: 100%;
    }
}
.news {
    @extend %flex;
    flex-direction: column;
    width: 50%;
    &__link {
        @extend %flex;
    }
    &__wrapper {
        background: #000;
    }
    &__img {
        &:hover {
            @extend %animation-darken;
         }
    }
    &__text {
        width: 60%;
    }
    &__date {
        @include text($bg-red);
    }
    &__title {
        @include title(black, 21px, 500);
    }
}