.navigation {
    background-color: $bg-blue;
    padding: 75px 0;
}
.navigation-menus {
    @include grid(4);
    grid-template-rows: repeat(1, 1fr);
    &__column {
        display: flex;
        flex-direction: column;
    }
    &--inFooter {
        @include grid(3);
    }
}
.menu {
    @extend %flex;
    flex-direction: column;
    align-items: flex-start;
    &__item {
        @include text(white);
        padding: 7px 0;
        &--inFooter {
            @include text(#E0E0E0);




            /*&:hover {
                border-bottom: 1px solid $bg-yellow;
            }*/
        }
        &::after {
            content: '';
            display: block;
            width: 100%;
            border-bottom: 1.5px solid;
            border-color: inherit;
            transform: scale(0);
            transition: 0.2s;
        }
        &:hover::after {
            transform: scale(1);
        }
        &:hover {
            color: $bg-yellow;
            transition: 0.2s;
        }
    }
}
.page-title {
    @include title(white, 30px, 500);
    &--black {
        @include title(black, 30px, 500);
        margin: 0;
    }
}