.promo {
    padding: 184px 0 53px 0;
    &__wrapper {
        @extend %flex;
        align-items: flex-start;
    }
    &__text {
        @extend %flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__title {
        margin: 0;
        font-weight: bold;
        font-size: 64px;
        line-height: 102px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__descr {
        font-size: 24px;
        line-height: 140%;
        color: #FFFFFF;
    }
}
.promo-articles {
    margin-top: 10%;
    width: 50%;
    @include grid(2);
    &__article {
        padding: 30px 40px;
        margin: 10% 0;
        &--blue {
            background-color: $bg-blue;
        }
        &--azure {
            background-color: $bg-azure;
        }
        &--yellow {
            background-color: $bg-yellow;
        }
        &--red {
            background-color: $bg-red;
        }
        transition: 0.5s;
        &:hover {
            @extend %increase-scale;
        }
    }
    &__title {
        @include title(white, 21px, 27px)
    }
}
.more-information {
    display: inline-block;
    @extend %btn-more;
    &--black {
        @include text(black);
        background: url(../design/Arrow2.png) right center no-repeat;
    }
    &::after {
        content: '';
        display: block;
        border-bottom: 1.5px solid;
        border-color: inherit;
        transform: scale(0);
        transition: 0.5s;
    }
    &:hover::after {
        transform: scale(1);
    }
}
