$fz-text: 16px;
$bg-blue: #2378FC;
$bg-yellow: #FFC41E;
$bg-azure: #30BCC9;
$bg-red: #F6404F;
$bg-beige: #FAF3E3;

@mixin text($color) {
    font-size: $fz-text;
    color: $color;
    line-height: 22px;
}
%footer-text {
    font-size: 14px;
    line-height: 19px;
    color: #E0E0E0;
}
@mixin title($color, $fz-title, $fw-title) {
    color: $color;
    font-size: $fz-title;
    font-weight: $fw-title;
}
@mixin grid($columns) {
    display: grid;
    column-gap: 10%;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat($columns, 1fr);
}

%btn-more {
    font-size: $fz-text;
    color: white;
    background: url(../design/Arrow.png) right center no-repeat;
    padding-right: 30px;
}

%flex {
    display: flex;
    justify-content: space-between;
}
%increase-scale {
    transform: scale(1.1);
}

@mixin animation-underline() {
    position: relative;
    overflow: hidden;
    &::after {
        content: '';
        display: inline-block;
        width: 100%;
        position: absolute;
        left: 100%;
        height: 1px;
        bottom: 0;
        background: white;
    }
    &:hover::after {
        left: 0;
        transition: 0.5s;
    }
}
%animation-darken {
    transition: 0.4s;
    &:hover {
    opacity:0.8;
    -moz-opacity:0.8;
    filter: alpha(opacity=80) black;
    -khtml-opacity: 0.8;
    background-color:#000;
   }
}

