* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'plumbregular';
}
a {
    text-decoration: none;
}
.container {
    width: 70%;
    display: block;
    margin: 0 auto;
}
@import 'tools';
@import 'main';
@import 'header';
@import 'select-language';
@import 'promo';
@import 'navigation';
@import 'events';
@import 'more';
@import 'footer';
@import 'medias';

@font-face {
    font-family: 'plumbregular';
    src: url('plumb-regular-webfont.woff2') format('woff2'),
         url('plumb-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}