* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "plumbregular";
}

a {
  text-decoration: none;
}

.container {
  width: 70%;
  display: block;
  margin: 0 auto;
}

.sub__descr {
  font-size: 14px;
  line-height: 19px;
  color: #E0E0E0;
}

.more-information {
  font-size: 16px;
  color: white;
  background: url(../design/Arrow.png) right center no-repeat;
  padding-right: 30px;
}

.media__row, .apps, .contact-us, .footer__wrapper, .news__link, .news, .more__wrapper, .title-row, .menu, .promo__text, .promo__wrapper, .header-menu, .header__row {
  display: flex;
  justify-content: space-between;
}

.media__link:hover, .advertisement__item:hover, .promo-articles__article:hover {
  transform: scale(1.1);
}

.news__img:hover, .events-list__img:hover {
  transition: 0.4s;
}
.news__img:hover, .events-list__img:hover {
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80) black;
  -khtml-opacity: 0.8;
  background-color: #000;
}

.main {
  background: url(../content/bgc.png) center no-repeat;
  background-size: cover;
}

.container--header {
  width: 90%;
}

.header {
  border: 1px solid #FFFFFF;
  padding: 33px 0;
}
.header__row {
  align-items: center;
}
.header__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

.logo {
  display: inline-block;
  width: 176px;
  height: 30px;
  background: url(../design/logo.png) center no-repeat;
  position: relative;
  overflow: hidden;
}
.logo::after {
  content: "";
  display: inline-block;
  width: 100%;
  position: absolute;
  left: 100%;
  height: 1px;
  bottom: 0;
  background: white;
}
.logo:hover::after {
  left: 0;
  transition: 0.5s;
}

.header-menu {
  width: 50%;
}
.header-menu__item {
  font-size: 16px;
  color: white;
  line-height: 22px;
}

.search {
  background: url(../design/Search.png) right center no-repeat;
  position: relative;
  overflow: hidden;
  height: 30px;
  margin: 0 20px;
  display: flex;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
}
.search::after {
  content: "";
  display: inline-block;
  width: 100%;
  position: absolute;
  left: 100%;
  height: 1px;
  bottom: 0;
  background: white;
}
.search:hover::after {
  left: 0;
  transition: 0.5s;
}
.search__input {
  outline: none;
  background: transparent;
  border: none;
  color: white;
  width: 100%;
}
.search:hover::after, .search:focus-within::after {
  left: 0;
}

.bars {
  display: none;
  background: url(../design/bars.png) center no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
}

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none;
  /*hide original SELECT element: */
}

.select-selected {
  background-color: transparent;
  display: flex;
}
.select-selected::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../design/Globe.png) center no-repeat;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div, .select-selected {
  color: #ffffff;
  padding: 8px 16px;
  padding-right: 30px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: transparent;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.promo {
  padding: 184px 0 53px 0;
}
.promo__wrapper {
  align-items: flex-start;
}
.promo__text {
  flex-direction: column;
  align-items: flex-start;
}
.promo__title {
  margin: 0;
  font-weight: bold;
  font-size: 64px;
  line-height: 102px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.promo__descr {
  font-size: 24px;
  line-height: 140%;
  color: #FFFFFF;
}

.promo-articles {
  margin-top: 10%;
  width: 50%;
  display: grid;
  column-gap: 10%;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}
.promo-articles__article {
  padding: 30px 40px;
  margin: 10% 0;
  transition: 0.5s;
}
.promo-articles__article--blue {
  background-color: #2378FC;
}
.promo-articles__article--azure {
  background-color: #30BCC9;
}
.promo-articles__article--yellow {
  background-color: #FFC41E;
}
.promo-articles__article--red {
  background-color: #F6404F;
}
.promo-articles__title {
  color: white;
  font-size: 21px;
  font-weight: 27px;
}

.more-information {
  display: inline-block;
}
.more-information--black {
  font-size: 16px;
  color: black;
  line-height: 22px;
  background: url(../design/Arrow2.png) right center no-repeat;
}
.more-information::after {
  content: "";
  display: block;
  border-bottom: 1.5px solid;
  border-color: inherit;
  transform: scale(0);
  transition: 0.5s;
}
.more-information:hover::after {
  transform: scale(1);
}

.navigation {
  background-color: #2378FC;
  padding: 75px 0;
}

.navigation-menus {
  display: grid;
  column-gap: 10%;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.navigation-menus__column {
  display: flex;
  flex-direction: column;
}
.navigation-menus--inFooter {
  display: grid;
  column-gap: 10%;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.menu {
  flex-direction: column;
  align-items: flex-start;
}
.menu__item {
  font-size: 16px;
  color: white;
  line-height: 22px;
  padding: 7px 0;
}
.menu__item--inFooter {
  font-size: 16px;
  color: #E0E0E0;
  line-height: 22px;
  /*&:hover {
      border-bottom: 1px solid $bg-yellow;
  }*/
}
.menu__item::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 1.5px solid;
  border-color: inherit;
  transform: scale(0);
  transition: 0.2s;
}
.menu__item:hover::after {
  transform: scale(1);
}
.menu__item:hover {
  color: #FFC41E;
  transition: 0.2s;
}

.page-title {
  color: white;
  font-size: 30px;
  font-weight: 500;
}
.page-title--black {
  color: black;
  font-size: 30px;
  font-weight: 500;
  margin: 0;
}

.events {
  background-color: #FFC41E;
  padding: 75px 0;
}

.title-row {
  align-items: center;
}

.events-list {
  padding: 30px 0;
  display: grid;
  column-gap: 10%;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
.events-list__link {
  display: inline-block;
  width: 100%;
  height: auto;
  background: #000;
}
.events-list__img {
  display: block;
  width: 100%;
}
.events-list__date {
  font-size: 14px;
  line-height: 19px;
  color: #2E373B;
}
.events-list__title {
  color: #F6404F;
  font-size: 21px;
  font-weight: 500;
}
.events-list__descr {
  font-size: 16px;
  color: black;
  line-height: 22px;
}

.more {
  background-color: #FAF3E3;
  padding: 75px 0;
}
.advertisement {
  display: grid;
  column-gap: 10%;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 80px;
}
.advertisement__item {
  transition: 0.5s;
}
.advertisement__img {
  display: block;
  width: 100%;
}

.news {
  flex-direction: column;
  width: 50%;
}
.news__wrapper {
  background: #000;
}
.news__text {
  width: 60%;
}
.news__date {
  font-size: 16px;
  color: #F6404F;
  line-height: 22px;
}
.news__title {
  color: black;
  font-size: 21px;
  font-weight: 500;
}

.footer {
  background-color: #30BCC9;
  padding: 60px 0;
}
.contact-us {
  width: 30%;
  flex-direction: column;
  justify-content: flex-start;
}

.apps {
  flex-direction: column;
  height: 40%;
}
.apps__app {
  width: 160px;
  height: 53px;
  display: inline-block;
}
.apps__app--apple {
  background: url(../design/GroupAppStore1.png) center no-repeat;
}
.apps__app--android {
  background: url(../design/FrameGooglePlay.png) center no-repeat;
}

.media {
  height: 50%;
}
.media__link {
  display: inline-block;
  width: 50px;
  height: 50px;
  transition: 0.4s;
}
.media__link--yt {
  background: url(../design/Vectoryt.png) center no-repeat;
}
.media__link--vk {
  background: url(../design/Groupvk.png) center no-repeat;
}
.media__link--fb {
  background: url(../design/Vectorfb.png) center no-repeat;
}
.media__link--inst {
  background: url(../design/instagram.png) center no-repeat;
}
.sub {
  cursor: pointer;
}
.sub__form {
  display: inline-block;
  padding-right: 40px;
  background-color: #F6404F;
  background-image: url(../design/Vector.png);
  background-position-x: 95%;
  background-position-y: 50%;
  background-repeat: no-repeat;
}

.user-email {
  padding: 13px 20px;
  outline: none;
  border: none;
}
.user-email::placeholder {
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #9C9C9C;
}

@media screen and (max-width: 1300px) {
  .header__group {
    flex-direction: column;
    align-items: flex-end;
  }

  .promo__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .more__wrapper {
    flex-direction: column;
  }

  .advertisement {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: auto;
  }

  .news {
    width: 100%;
  }
  .news__item {
    padding: 10px 0;
  }

  .title-row {
    padding: 30px 0;
  }

  .footer__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  .contact-us {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }

  .navigation-menus {
    grid-template-columns: repeat(2, 1fr);
  }

  .apps {
    height: 50%;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    width: 90%;
  }

  .header-menu {
    width: 50%;
  }

  .header__group {
    flex-direction: column;
    align-items: flex-end;
  }

  .promo-articles {
    justify-content: center;
  }

  .navigation-menus {
    grid-template-columns: repeat(2, minmax(100px, max-content));
    justify-content: space-between;
  }

  .footer__wrapper {
    display: block;
  }

  .contact-us {
    flex-direction: column;
    align-items: center;
  }

  .sub {
    text-align: center;
  }

  .media {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .header__row {
    flex-direction: column;
    align-items: center;
  }
  .header__group {
    display: none;
  }

  .header-menu {
    width: 100%;
    padding: 20px 0;
  }

  .promo__wrapper {
    justify-content: center;
  }
  .promo__text {
    text-align: center;
    align-items: center;
  }

  .promo-articles {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .events-list {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .events-list__link:hover {
    transform: none;
  }

  .advertisement__item:hover {
    transform: none;
  }

  .news__link:hover {
    transform: none;
  }
}
@media screen and (max-width: 480px) {
  .header__row {
    flex-direction: row;
    justify-content: space-between;
  }

  .header-menu {
    display: none;
  }

  .bars {
    display: block;
  }

  .promo__title {
    font-size: 44px;
  }

  .promo-articles {
    width: 70%;
  }
  .promo-articles__article {
    padding: 15px;
  }

  .title-row {
    flex-direction: column;
    text-align: center;
  }

  .page-title {
    position: relative;
    overflow: hidden;
  }
  .page-title::after {
    content: "";
    display: inline-block;
    width: 100%;
    position: absolute;
    left: 100%;
    height: 1px;
    bottom: 0;
    background: white;
  }
  .page-title:hover::after {
    left: 0;
    transition: 0.5s;
  }

  .navigation-menus {
    grid-template-columns: 1fr;
  }
  .navigation-menus__column {
    align-items: center;
  }

  .menu {
    display: none;
  }

  .news__link {
    flex-wrap: wrap;
    justify-content: center;
  }
  .news__text {
    text-align: center;
  }
}
@font-face {
  font-family: "plumbregular";
  src: url("plumb-regular-webfont.woff2") format("woff2"), url("plumb-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*# sourceMappingURL=styles.css.map */
